<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Help</title>
    <link rel="stylesheet"  href="../../static/hooknowsapp/green.css" />
    <style>

    </style>
</head>
<body>
    <div class="navbar item1">
        <a href="{% url 'home'%}">Back</a>
        <input type="search" placeholder="Enter Subject">
        {% if not user.is_anonymous %}
            <a href="{% url 'view_user_reports'%}">My Reports</a>
        {% endif %}
    </div>
</body>

<div class = "container text-center">
    <h1>
        File a Report
    </h1>
  <form action="{% url 'create_report' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {{ form.as_p }}
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit Report</button>
</form>
</div>
</html>