<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Help</title>
    <link rel="stylesheet"  href="../../static/hooknowsapp/green.css" />
    <style>

    </style>
</head>
<body>
    <div class="navbar item1">
        <input type="search" placeholder="Enter Subject">
        <a href="#">My Account</a>
        <a href="{% url 'create_report' %}" class="btn btn-secondary">Make Another Report</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Return to Homepage</a>
        <div type="button" class="btn site-button">
            <h1>Report Submitted!</h1>
        </div>


    </div>
</body>
</html>