<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Help</title>
    <link rel="stylesheet"  href="../../static/hooknowsapp/green.css" />
    <style>
        
    </style>
</head>
<body>
    <div class="navbar item1">
        <input type="search" placeholder="Enter Subject">
        <a href="#">My Account</a>
        <a href="#">Create Post</a>


    </div>

    <div class="item3">
        <div class="post">
            <div class="post-header">
                <h2 class="post-title">Django Help</h2>
                <div class="vote">
                    <button>▲</button>
                    <div>25</div>
                    <button>▼</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
            <div class="meta-info">
                posted by Anonymous in CS
            </div>
        </div>
    </div>
    <div class = "navbar a item5"> 
    </div>

</body>
</html>
