<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Help</title>
    <link rel="stylesheet"  href="../../static/hooknowsapp/green.css" />
    <style>
        
    </style>
</head>
<body>
    <div class="navbar item1 row">
        <a>Reports View Page</a>
        <a href="{% url 'home'%}">Back</a>
    </div>

    <div class="item3">
        <div class="post">
            <div class="reports-container">
                {% for report in reports %}
                    <div class="report">
                        <h2 class="report-title">{{ forloop.counter }}.{{ report.title }}</h2>
                        <p>Created on: {{ report.created_at|date:"F d, Y H:i" }}</p>
                        <button type ="button" class="btn btn-primary">
                            <a href="{% url 'one_report' report.id%}">View This Report</a>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = "navbar a item5"> 
    </div>

</body>
</html>
